<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>This is Index Page</h1>
    <% if(user && user.username) { %>
    <p><%= user.username %> Welcome to Index</p>
    <a href="/logout">Logout</a>
    <% }else{ %>
    <p>Please Login</p>
    <a href="/login">Login</a>
    <a href="/register">register</a>
    <% } %>
  </body>
</html>